 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

@font-face {
    font-family: DancingScript;
    src: url(fonts/DancingScript-VariableFont_wght.ttf);
}

@font-face {
    font-family: Playfair_Display;
    src: url(fonts/PlayfairDisplay-VariableFont_wght.ttf);
}

@font-face {
    font-family: Leiko;
    src: url(fonts/Leiko-Regular.otf);
} 

html {
    scroll-behavior: smooth;
}

:root {
    --black: #221518;
    --braun: #54372B;

    --beige: #F7E1BC;
    --linkcolor: #FFF8E8;

}

.row {
    max-width: 1200px;
    min-width: 375px;
    width: 100%;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: DancingScript;
    color: var(--beige);
}

.wrapper {
    width: 100%;
    min-height: 100vh;
    background-image: url(fotos/Coffee\ beans.png);
    background-size: cover;
    background-color: #221518;
    background-position: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    /* overflow: hidden; */
}

.header {
    max-width: 1440px;
    min-width: 380px;
    width: 100%;
    height: 86px;
    padding-inline: 34px;
    position: fixed;
    top: 0;
    z-index: 1111;

}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header_container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo_icons {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav {
    width: 47%;

}

.header_icons {
    display: flex;
    align-items: center;
    gap: 7px;
}

.nav_list {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    padding-left: 30px;
}

.nav_link {
    color: var(--linkcolor);
    font-family: Playfair_Display;
}

.burger_menu {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 30px;
    height: 30px;
    cursor: pointer;
    display: none;
}

.menu_line {
    width: 100%;
    height: 3px;
    background-color: var(--beige);

}

.menu_close {

    width: 30px;
    height: 30px;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;

}

.close_line {
    width: 100%;
    height: 3px;
    background-color: var(--beige);
    position: absolute;
}

.close_line:nth-child(1) {
    transform: rotate(45deg);
}

.close_line:nth-child(2) {
    transform: rotate(-45deg);
}

/* ///////////////////////////////////////////////////////////// */
.main {
    width: 100%;
    min-height: 100vh;
}

/* ///////////////////////////////////////////////////////////// */
.section1 {
    width: 100%;
    min-width: 375px;
    min-height: 1081px;
    background: url(fotos/background.png) no-repeat center / cover;
    display: flex;
    align-items: center;
}

.section1_container {
    height: 560px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

.section1_content {
    width: 100%;


}

.section1_title {
    color: var(--beige);
    font-size: 112px;
}

.section1_text {
    color: #DABB9E;
    font-size: 24px;
    max-width: 471px;
}

.section1_btns {
    display: flex;
    gap: 60px;
}

.section1_btn1 {
    padding: 12px 36px;
    border: 2px solid var(--beige);
    background-color: #68574D;
    border-radius: 49px;
    color: var(--beige);
    font-size: 24px;
    font-family: Playfair_Display;
    cursor: pointer;
}

.section1_btn2 {
    padding: 10px 30px;
    border: 2px solid var(--beige);
    background-color: #3C2D2B;
    border-radius: 49px;
    color: var(--beige);
    font-family: Playfair_Display;
    font-size: 24px;
    cursor: pointer;

}

/* ///////////////////////////////////////////////////////////// */
.section2 {
    width: 100%;
    min-width: 375px;
    min-height: 584px;
    display: flex;
    align-items: center;
    background: var(--braun);

}
.mySwiper{
    min-height: 378px;
}


.swiper-slide{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sliderImg_wrapper{
    width:408px ;
    height: 100%;
}
.slider_image{
    width: 100%;
    height: 100%;
}

.slider_texts{
    width: 80%;
    height: 378px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: end;
    position: relative;

}
.slider_text{
    color: var(--linkcolor);
    font-family: Leiko;
    line-height: 218%;
    overflow: auto;
    padding-top: 40px;
}

.slider_link{
    color: var(--linkcolor);
    text-decoration: underline;
}

.slider_title{
    position: absolute;
    right: 0;
    top: 0;
    font-size: 30px;
}

.section3{
    width: 100%;
    height: 500px;
    background: black;
}